.menu {
    width: 70%;
    margin: 0 auto;
    height:70px;
}

.menu ul li {
    display: inline-block;
    margin: 5px;
}

.menu ul.tipo {
    float: left;
}

.menu ul.qualidade {
    float: left;
}

.menu ul.plot-estilo {
    float: right;
}

.menu a {
    text-decoration: none;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: tomato;
    border-radius: 5px;
}

.menu .tipo a {
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu .qualidade a {
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu .plot-estilo a {
    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu .tipo .botao-ativo {
    border: 3px solid blue;  
}

.menu .qualidade .botao-ativo {
    border: 3px solid orangered;  
}

.menu .plot-estilo .botao-ativo {
    border: 3px solid green;  
}

.titulo {
    width: 25%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: center;
}

.frame {
    width: 100%;
    height: 100vh;
}

.frame iframe {
    width: 100%;
    height: 100%;
}
